* {
    margin: o;
    padding: 0;
}
@import './variables/colores';
@import './variables/extende';
@import './variables/mixin';

@import './secciones/index';
@import './secciones/contacto';
@import './secciones/quienes-somos';
@import './secciones/envios';



  
  